#myMap{
    margin: 0 auto;
    width: 100% !important;
}

.bg-2{
    width: 100vw;
    max-height: 100vh;
    background-color: #F29F05;
}

       
@media only screen and (max-width: 600px) {
  #myMap{
      width: 100% !important;
      height: 200px !important;
     
  }
  }

